[manifest]
version = "1.0.0"
dump_lua = true
priority = 10000

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''bonus_chips = bonus_chips ~= 0 and bonus_chips or nil,'''
position = 'after'
payload = '''
bonus_e_mult    = (self.ability.perma_e_mult and self.ability.perma_e_mult ~= 0) and (self.ability.perma_e_mult + 1) or nil,
bonus_e_chips   = (self.ability.perma_e_chips and self.ability.perma_e_chips ~= 0) and (self.ability.perma_e_chips + 1) or nil,
bonus_score     = (self.ability.perma_score and self.ability.perma_score ~= 0) and (self.ability.perma_score) or nil,
bonus_x_score   = (self.ability.perma_x_score and self.ability.perma_x_score ~= 0) and (self.ability.perma_x_score + 1) or nil,
bonus_e_score   = (self.ability.perma_e_score and self.ability.perma_e_score ~= 0) and (self.ability.perma_e_score + 1) or nil,
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++--
        --Joker Effects'''
position = 'before'
match_indent = true
payload = '''total_chip_score = G.GAME.chips
for i = 1, #G.GAME.tags do
	G.GAME.tags[i]:apply_to_run({type = 'ml_before_scoring'})
	delay(0.2)
end'''

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "local scale = G.GAME.modifiers.scaling"
position = 'at'
payload = "local scale = G.GAME.modifiers.scaling or 1"
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''                (options or {}).ignore_showdown_check'''
position = "at"
payload = '''(type(options) == "boolean" and (options == true)) or type(options) == "table" and (options and options.ignore_showdown_check) or false'''
match_indent = true
