[manifest]
version = "1.0.0"
dump_lua = true
priority = 10000

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''bonus_chips = bonus_chips ~= 0 and bonus_chips or nil,'''
position = 'after'
payload = '''
bonus_e_mult    = (self.ability.perma_e_mult and self.ability.perma_e_mult ~= 0) and (self.ability.perma_e_mult + 1) or nil,
bonus_e_chips   = (self.ability.perma_e_chips and self.ability.perma_e_chips ~= 0) and (self.ability.perma_e_chips + 1) or nil,
bonus_score     = (self.ability.perma_score and self.ability.perma_score ~= 0) and (self.ability.perma_score) or nil,
bonus_x_score   = (self.ability.perma_x_score and self.ability.perma_x_score ~= 0) and (self.ability.perma_x_score + 1) or nil,
bonus_e_score   = (self.ability.perma_e_score and self.ability.perma_e_score ~= 0) and (self.ability.perma_e_score + 1) or nil,
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "local scale = G.GAME.modifiers.scaling"
position = 'at'
payload = "local scale = G.GAME.modifiers.scaling or 1"
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''                (options or {}).ignore_showdown_check'''
position = "at"
payload = '''(type(options) == "boolean" and (options == true)) or type(options) == "table" and (options and options.ignore_showdown_check) or false'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        hand_chips = mod_chips(G.GAME.hands[text].chips)"""
position = "after"
payload = '''MadLib.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)'''
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''AKYRS.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)'''
position = "at"
payload = '''-- insert stuff here'''
overwrite = true
match_indent = true

#Animate under overlay
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "if (self.OVERLAY_MENU) or (not self.F_HIDE_BG) then"
position = "before"
payload = '''MadLib.animate_images()'''
overwrite = true
match_indent = true




[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''mult = mod_mult(G.GAME.hands[text].mult)
        hand_chips = mod_chips(G.GAME.hands[text].chips)
        MadLib.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)'''
position = "at"
payload = '''if needs_editing then
    mult = mod_mult(G.GAME.hands[text].mult)
    hand_chips = mod_chips(G.GAME.hands[text].chips)
    MadLib.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)
    needs_editing = nil
end'''
overwrite = true
match_indent = true