[manifest]
version = "1.0.0"
dump_lua = true
priority = -1000

# get the sell ui thingy idk man
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''{n=G.UIT.T, config={text = localize('$'),colour = G.C.WHITE, scale = 0.4, shadow = true}},'''
position = 'at'
payload = '''MadLib.define_get_currency_sell_ui(card),'''
match_indent = true
times = 1

# Add new colors
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''legendary = G.C.RARITY[4],'''
position = "after"
match_indent = true
overwrite = true
payload = '''pow = G.C.POW or G.C.GREEN,
emult 	= G.C.EMULT,
echips = G.C.ECHIPS,
escore	= G.C.ESCORE,
'''

# Add alt throw hand value
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''if G.GAME.blind and G.boss_throw_hand and self.STATE == self.STATES.SELECTING_HAND then'''
position = 'at'
payload = '''if G.GAME.blind and (G.boss_throw_hand or G.throw_hand) and self.STATE == self.STATES.SELECTING_HAND then'''
match_indent = true

# Add to cardarea
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
pattern = '''G.boss_throw_hand = nil'''
position = 'after'
payload = '''G.throw_hand = nil'''
match_indent = true

# Checks if hand passes the check
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
pattern = '''else

        end'''
position = 'at'
payload = '''else
            G.throw_hand = (not MadLib.hand_passes_check(G.hand.highlighted, poker_hands, text)) or nil
        end'''
match_indent = true

# Allow editing of destination
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = "local drawn = nil"
position = "after"
payload = '''to = MadLib.edit_card_destination(card,from,to)'''
match_indent = true


# Specific Suit editing
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''if SMODS.has_no_suit(self) then
            return false
        end'''
position = "after"
payload = '''if self.config.center.specific_suit then
            return self.config.center.specific_suit == suit
        end'''
match_indent = true
times = 2

# Specific Suit editing
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''return {n=G.UIT.ROOT, config = {align = "cm", padding = 0.03, colour = G.C.UI.TRANSPARENT_DARK}, nodes={'''
position = "before"
payload = '''
contents = MadLib.edit_uibox_contents(contents, scale)'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = 'if (id > 0 and rank and rank.face) or next(find_joker("Pareidolia")) then'
position = "at"
payload = 'if (id > 0 and rank and rank.face) or MadLib.get_pareidolia(self) then'
match_indent = true

# Sell a card multiple times?
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = '''card:sell_card()
    SMODS.calculate_context({selling_card = true, card = card})'''
position = "at"
payload = '''card:sell_card()
for i=1, card:get_quantity_value() do
	SMODS.calculate_context({selling_card = true, card = card}))
end'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if (self.ability.set == 'Planet' or (self.ability.set == 'Booster' and self.ability.name:find('Celestial'))) and #find_joker('Astronomer') > 0 then self.cost = 0 end"
position = "at"
payload = "if self:ml_is_free() then self.cost = 0 end"
match_indent = true

# Allows multiple type of shops.
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''if card.ability.set == 'Booster' and not nosave and G.STATE == G.STATES.SHOP then'''
position = "at"
payload =  '''if card.ability.set == 'Booster' and not nosave and MadLib.get_shop_state() then'''
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''local state = G.TAROT_INTERRUPT or G.STATE'''
position = "after"
payload =  '''state = state > 200 and G.STATES.SMODS_BOOSTER_OPENED or state'''
match_indent = false

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = '''if not initial and G.STATE ~= G.STATES.SMODS_BOOSTER_OPENED and G.STATE ~= G.STATES.SHOP and not G.SETTINGS.paused or G.TAROT_INTERRUPT then'''
position = "at"
payload =  '''if not initial and G.STATE ~= MadLib.get_card_setting_ability(self) and not G.SETTINGS.paused or G.TAROT_INTERRUPT then'''
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/util.lua"]'
pattern = '''from_shop = (G.STATE == G.STATES.SHOP or G.STATE == G.STATES.SMODS_BOOSTER_OPENED or G.STATE == G.STATES.SMODS_REDEEM_VOUCHER) or nil,'''
position = "at"
payload =  '''from_shop = (MadLib.get_shop_state() or G.STATE == G.STATES.SMODS_BOOSTER_OPENED or G.STATE == G.STATES.SMODS_REDEEM_VOUCHER) or nil,'''
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = "SMODS.localize_perma_bonuses(specific_vars, desc_nodes)"
position = "before"
payload = '''MadLib.set_playing_card_ui(card, specific_vars, desc_nodes)'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''if first_pass and not (_c.set == 'Edition') and badges then'''
position = "before"
payload = '''info_queue, specific_vars, desc_nodes = MadLib.set_joker_ui(card, info_queue, specific_vars, desc_nodes)'''
match_indent = true

# Add context for leveling up poker hands?!
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = "amount = amount or 1"
position = "after"
payload = '''SMODS.calculate_context({other_card = card, level_up_hand = hand, levels = amount})'''
match_indent = true