[manifest]
version = "1.0.0"
dump_lua = true
priority = 10000

# Record the score for +Score/XScore stuff
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = 'G.GAME.hands[text].played = G.GAME.hands[text].played + 1'
position = 'after'
match_indent = true
payload = '''total_score = mod_total_score(G.GAME.chips); needs_editing = true'''

# Use this value instead of calculate_round_score() upon easing the HUD
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''ease_to = G.GAME.chips + math.floor( SMODS.calculate_round_score() ),'''
position = 'at'
payload = '''ease_to = total_score,'''
match_indent = true

# calculate_round_score added to MadLib.get_final_score()
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''G.E_MANAGER:add_event(Event({
      trigger = 'ease',
      blocking = false,
      ref_table = G.GAME,
      ref_value = 'chips',
      ease_to = total_score,
      delay =  0.5,
      func = (function(t) return math.floor(t) end)
    }))'''
position = 'before'
payload = '''total_score = MadLib.get_final_score(total_score)'''
match_indent = true

# Some tags activate before scoring
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++--
        --Joker Effects'''
position = 'before'
match_indent = true
payload = '''
for i = 1, #G.GAME.tags do
	G.GAME.tags[i]:apply_to_run({type = 'ml_before_scoring'})
	delay(0.2)
end'''

# Add post-scoring shenanigans before chip total
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''G.E_MANAGER:add_event(Event({
      trigger = 'ease',
      blocking = true,
      ref_table = G.GAME.current_round.current_hand,
      ref_value = 'chip_total',
      ease_to = 0,
      delay =  0.5,
      func = (function(t) return math.floor(t) end)
    }))'''
position = "before"
payload = "MadLib.do_post_scoring_stuff()"
match_indent = true